* {
  box-sizing: border-box;
}

:root {
  --veryLightGrayishBlue: hsl(240, 78%, 98%);
  --lightGrayishBlue: hsl(234, 14%, 74%);
  --grayishBlue: hsl(233, 13%, 49%);
  --darkGrayishBlue: hsl(232, 13%, 33%);
}

@media (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .main {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: var(--veryLightGrayishBlue);
    background-image: url("images/bg-top.svg");
    background-position: right top;
    background-repeat: no-repeat;
    /* background-size: 250px 300px; */
  }

  .title {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: var(--darkGrayishBlue);
  }

  .choice {
    display: flex;
    margin-bottom: auto;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: var(--lightGrayishBlue);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-image: linear-gradient(
      to top left,
      rgb(89, 89, 237),
      var(--lightGrayishBlue)
    );
  }

  input:focus + .slider {
    background-color: var(--grayishBlue);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    height: auto;
    width: 250px;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .box:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .box:nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .list {
    width: 150px;
    align-self: center;
    color: var(--grayishBlue);
  }

  .box :nth-child(2),
  .box :nth-child(3),
  .box :nth-child(4),
  .box :nth-child(5) {
    box-shadow: 0px 1px var(--lightGrayishBlue);
    width: 200px;
    padding: 10px 20px 10px 30px;
  }

  .list span {
    font-size: 1.5rem;
  }

  .list:nth-child(1) {
    margin-top: 20px;
  }

  .list:nth-child(2) {
    font-size: 40px;
    color: var(--darkGrayishBlue);
  }

  .box-btn {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    margin: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 10px;
    border-color: var(--lightGrayishBlue);
    color: white;
    /* background-color: rgb(89, 89, 237); */
    background-image: linear-gradient(
      to top left,
      rgb(89, 89, 237),
      var(--lightGrayishBlue)
    );
  }

  .box:nth-child(2) {
    transition: width 1s, height 1s;
  }

  .box:hover {
    background-image: linear-gradient(
      to top left,
      rgb(89, 89, 237),
      var(--lightGrayishBlue)
    );
    border-radius: 10px;
    height: 300px;
    font-size: 12.5px;
  }

  .box:hover > .list {
    color: white;
    cursor: pointer;
  }

  .box:hover > .box-btn {
    background-image: linear-gradient(to top left, white, white);
    color: var(--grayishBlue);
  }
}

@media (min-width: 481px),
  (max-width: 767px),
  (min-width: 768px),
  (max-width: 1024px),
  (min-width: 1025px),
  (max-width: 1280px) and (min-width: 1281px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .main {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: var(--veryLightGrayishBlue);
    background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px 300px;
  }

  .title {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: var(--darkGrayishBlue);
  }

  .choice {
    display: flex;
    margin-bottom: auto;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: var(--lightGrayishBlue);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-image: linear-gradient(
      to top left,
      rgb(89, 89, 237),
      var(--lightGrayishBlue)
    );
  }

  input:focus + .slider {
    background-color: var(--grayishBlue);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .container {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    height: auto;
    width: 250px;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .box:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .box:nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .list {
    width: 150px;
    align-self: center;
    color: var(--grayishBlue);
  }

  .box :nth-child(2),
  .box :nth-child(3),
  .box :nth-child(4),
  .box :nth-child(5) {
    box-shadow: 0px 1px var(--lightGrayishBlue);
    width: 200px;
    padding: 10px 20px 10px 30px;
  }

  .list span {
    font-size: 1.5rem;
  }

  .list:nth-child(1) {
    margin-top: 20px;
  }

  .list:nth-child(2) {
    font-size: 40px;
    color: var(--darkGrayishBlue);
  }

  .box-btn {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    margin: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 10px;
    border-color: var(--lightGrayishBlue);
    color: white;
    /* background-color: rgb(89, 89, 237); */
    background-image: linear-gradient(
      to top left,
      rgb(89, 89, 237),
      var(--lightGrayishBlue)
    );
  }

  .box:nth-child(2) {
    transition: width 1s, height 1s;
  }

  .box:hover {
    background-image: linear-gradient(
      to top left,
      rgb(89, 89, 237),
      var(--lightGrayishBlue)
    );
    border-radius: 10px;
    height: 300px;
    font-size: 12.5px;
  }

  .box:hover > .list {
    color: white;
    cursor: pointer;
  }

  .box:hover > .box-btn {
    background-image: linear-gradient(to top left, white, white);
    color: var(--grayishBlue);
  }
}
